body {
    background-color: #000;
}

.body {
    width: 100%;
}


.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 410px;
    background-color: #000;
}

.banner h1 {
    color: #fff;
    position: absolute;
    top: 320px;
    z-index: 100;
}

.banner img {
    width: 1200px;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
       linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
}


.container h1 {
    font-size: 25px;
    color: #fff;
    margin-top: 25px;
    margin-left: 145px;
}

.container a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.container h1 a:hover {
    color: yellow;
}


.lista-filmes {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}


.filme-poster {
    width: 150px;
    height: 225px;
    margin: 4px;
    position: relative;
}

.filme-poster img {
    width: 150px;
    height: 225px;
    border: 3px solid #2E003E;
    transition: 0.3s;
}

.filme-poster img:hover {
    border: 3px solid #ffffff;
}

.filme-title {
    position: absolute;
    inset: 0;
    width: 150px;
    height: 225px;
    border: 3px solid #2E003E;
    color: #fff;
    display: block;
    z-index: 10;
}

.filme-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.filme-title:hover::after {
    opacity: 1;
}


.filme-name {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.filme-title:hover .filme-name {
    opacity: 1;
}

.filme-name h3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;   
    line-height: 1.2em;
    max-height: calc(1.2em * 3);
    font-size: 0.9rem;
}

.filme-name h4 {
    color: yellow;
    font-size: 0.99rem;
}

.filme-title:hover {
    border: 3px solid #ffffff;
}
